<div class="page-header">
  <h1>Tic-Tac-Toe</h1>
</div>
<div class="message">
<%= link_to "Play Again", controller: "spaces", action: "reset" %>
<p><%= current_player %>'s turn</p>
<% if game_over?(@game) %>
  <p><%= @winner %> wins!!</p>
<% end %>
</div>
<div class="board">
  <table class="table table-bordered">
    <tbody>
      <% @game.each_with_index do |space,i| %>
        <% if i == 0  or i == 3 or i == 6 %> <tr> <% end %>
          <td>
            <% if not played? space %>
              <%= form_for space, remote: true, method: "patch" do |f| %>
                <%= f.hidden_field :player, value: current_player %>
              <% end %>
              <div class="space" data-behavior="toggle_form_on_click"><%= current_player %></div>
            <% else %>
              <div class="space space-played"> <%= space.player %> </div>
            <% end %>
          </td>
        <% if i == 2 or i == 5 or i == 8 %></tr> <% end %> 
      <% end %>
    </tbody>
  </table>
</div>
